.d-flex {
  display: flex;
}

.d-flex.js-space-between {
  justify-content: space-between;
  padding-top: 8px;
  font-size: 16px;
}

.user-list-item {
  flex-direction: column;
  width: 300px;
  height: 130px;
  background-color: white;
  border: 1px solid #f5f5f7;
  margin: 20px;
  padding: 15px;
}

.user-list-item:hover {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.158);
}

.user-item {
  justify-content: flex-start;
}

.user-item-title {
  font-size: 20px;
  font-weight: bold;
}

.user-item-total-reward-points {
  padding-top: 8px;
  font-size: 16px;
}

.js-space-between .label {
  color: rgb(0, 102, 1);
  font-style: italic;
}

/* .js-space-between .value {
  margin-left: 10px;
} */

.user-item-price {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-item-status.out-of-stock {
  color: rgb(102, 102, 102);
}

.user-item-status.in-stock {
  color: rgb(0, 102, 1);
}
